.fluid
{
	width: auto;
	float: none;
}

.hp
{
	width: 100%;
	float: left;
}

.dl10, .dl15, .dl20, .dl25, .dl30, .dl35, .dl40, .dl45, .dl50, .dl55, .dl60, .dl65, .dl70, .dl75, .dl80, dl85, .dl90, .dl95, .dl100, .dl110, .dl120, .dl130, .dl140, .dl150, .dl160, .dl170, .dl180, .dl190, .dl200, .dl115, .dl125, .dl135, .dl145, .dl155, .dl165, .dl175, .dl185, .dl195, .dl205, .dl210, .dl220, .dl230, .dl240, .dl250, .dl260, .dl270, .dl280, .dl290, .dl300, .dl215, .dl225, .dl235, .dl245, .dl255, .dl265, .dl275, .dl285, .dl295, .dl305, .dl310, .dl320, .dl330, .dl340, .dl350, .dl360, .dl370, .dl380, .dl390, .dl400, .dl315, .dl325, .dl335, .dl345, .dl355, .dl365, .dl375, .dl385, .dl395, .dl405, .dl410, .dl420, .dl430, .dl440, .dl450, .dl460, .dl470, .dl480, .dl490, .dl500, .dl415, .dl425, .dl435, .dl445, .dl455, .dl465, .dl475, .dl485, .dl495, .dl505, .dl510, .dl520, .dl530, .dl540, .dl550, .dl560, .dl570, .dl580, .dl590, .dl600, .dl515, .dl525, .dl535, .dl545, .dl555, .dl565, .dl575, .dl585, .dl595, .dl605, .dl610, .dl620, .dl630, .dl640, .dl650, .dl660, .dl670, .dl680, .dl690, .dl700, .dl615, .dl625, .dl635, .dl645, .dl655, .dl665, .dl675, .dl685, .dl695, .dl705, .dl710, .dl720, .dl730, .dl740, .dl750, .dl760, .dl770, .dl780, .dl790, .dl800, .dl715, .dl725, .dl735, .dl745, .dl755, .dl765, .dl775, .dl785, .dl795, .dl805, .dl810, .dl820, .dl830, .dl840, .dl850, .dl860, .dl870, .dl880, .dl890, .dl900, .dl815, .dl825, .dl835, .dl845, .dl855, .dl865, .dl875, .dl885, .dl895, .dl905, .dl910, .dl920, .dl930, .dl940, .dl950
{
	float: left;
	display: inline;
}

.dr10, .dr15, .dr20, .dr25, .dr30, .dr35, .dr40, .dr45, .dr50, .dr55, .dr60, .dr65, .dr70, .dr75, .dr80, dr85, .dr90, .dr95, .dr100, .dr110, .dr120, .dr130, .dr140, .dr150, .dr160, .dr170, .dr180, .dr190, .dr200, .dr115, .dr125, .dr135, .dr145, .dr155, .dr165, .dr175, .dr185, .dr195, .dr205, .dr210, .dr220, .dr230, .dr240, .dr250, .dr260, .dr270, .dr280, .dr290, .dr300, .dr215, .dr225, .dr235, .dr245, .dr255, .dr265, .dr275, .dr285, .dr295, .dr305, .dr310, .dr320, .dr330, .dr340, .dr350, .dr360, .dr370, .dr380, .dr390, .dr400, .dr315, .dr325, .dr335, .dr345, .dr355, .dr365, .dr375, .dr385, .dr395, .dr405, .dr410, .dr420, .dr430, .dr440, .dr450, .dr460, .dr470, .dr480, .dr490, .dr500, .dr415, .dr425, .dr435, .dr445, .dr455, .dr465, .dr475, .dr485, .dr495, .dr505, .dr510, .dr520, .dr530, .dr540, .dr550, .dr560, .dr570, .dr580, .dr590, .dr600, .dr515, .dr525, .dr535, .dr545, .dr555, .dr565, .dr575, .dr585, .dr595, .dr605, .dr610, .dr620, .dr630, .dr640, .dr650, .dr660, .dr670, .dr680, .dr690, .dr700, .dr615, .dr625, .dr635, .dr645, .dr655, .dr665, .dr675, .dr685, .dr695, .dr705, .dr710, .dr720, .dr730, .dr740, .dr750, .dr760, .dr770, .dr780, .dr790, .dr800, .dr715, .dr725, .dr735, .dr745, .dr755, .dr765, .dr775, .dr785, .dr795, .dr805, .dr810, .dr820, .dr830, .dr840, .dr850, .dr860, .dr870, .dr880, .dr890, .dr900, .dr815, .dr825, .dr835, .dr845, .dr855, .dr865, .dr875, .dr885, .dr895, .dr905, .dr910, .dr920, .dr930, .dr940, .dr950
{
	float: right;
	display: inline;
}

.dl10, .dr10
{
	width: 10px;
}
.dl15, .dr15
{
	width: 15px;
}
.dl20, .dr20
{
	width: 20px;
}
.dl25, .dr25
{
	width: 25px;
}
.dl30, .dr30
{
	width: 30px;
}
.dl35, .dr35
{
	width: 35px;
}
.dl40, .dr40
{
	width: 40px;
}
.dl45, .dr45
{
	width: 45px;
}
.dl50, .dr50
{
	width: 50px;
}
.dl55, .dr55
{
	width: 55px;
}
.dl60, .dr60
{
	width: 60px;
}
.dl65, .dr65
{
	width: 65px;
}
.dl70, .dr70
{
	width: 70px;
}
.dl75, .dr75
{
	width: 75px;
}
.dl80, .dr80
{
	width: 80px;
}
.dl85, .dr85
{
	width: 85px;
}
.dl90, .dr90
{
	width: 90px;
}
.dl95, .dr95
{
	width: 95px;
}
.dl100, .dr100
{
	width: 100px;
}
.dl105, .dr105
{
	width: 105px;
}
.dl110, .dr110
{
	width: 110px;
}
.dl115, .dr115
{
	width: 115px;
}
.dl120, .dr120
{
	width: 120px;
}
.dl125, .dr125
{
	width: 125px;
}
.dl130, .dr130
{
	width: 130px;
}
.dl135, .dr135
{
	width: 135px;
}
.dl140, .dr140
{
	width: 140px;
}
.dl145, .dr145
{
	width: 145px;
}
.dl150, .dr150
{
	width: 150px;
}
.dl155, .dr155
{
	width: 155px;
}
.dl160, .dr160
{
	width: 160px;
}
.dl165, .dr165
{
	width: 165px;
}
.dl170, .dr170
{
	width: 170px;
}
.dl175, .dr175
{
	width: 175px;
}
.dl180, .dr180
{
	width: 180px;
}
.dl185, .dr185
{
	width: 185px;
}
.dl190, .dr190
{
	width: 190px;
}
.dl195, .dr195
{
	width: 195px;
}
.dl200, .dr200
{
	width: 200px;
}
.dl205, .dr205
{
	width: 205px;
}
.dl210, .dr210
{
	width: 210px;
}
.dl215, .dr215
{
	width: 215px;
}
.dl220, .dr220
{
	width: 220px;
}
.dl225, .dr225
{
	width: 225px;
}
.dl230, .dr230
{
	width: 230px;
}
.dl235, .dr235
{
	width: 235px;
}
.dl240, .dr240
{
	width: 240px;
}
.dl245, .dr245
{
	width: 245px;
}
.dl250, .dr250
{
	width: 250px;
}
.dl255, .dr255
{
	width: 255px;
}
.dl260, .dr260
{
	width: 260px;
}
.dl265, .dr265
{
	width: 265px;
}
.dl270, .dr270
{
	width: 270px;
}
.dl275, .dr275
{
	width: 275px;
}
.dl280, .dr280
{
	width: 280px;
}
.dl285, .dr285
{
	width: 285px;
}
.dl290, .dr290
{
	width: 290px;
}
.dl295, .dr295
{
	width: 295px;
}
.dl300, .dr300
{
	width: 300px;
}
.dl305, .dr305
{
	width: 305px;
}
.dl310, .dr310
{
	width: 310px;
}
.dl315, .dr315
{
	width: 315px;
}
.dl320, .dr320
{
	width: 320px;
}
.dl325, .dr325
{
	width: 325px;
}
.dl330, .dr330
{
	width: 330px;
}
.dl335, .dr335
{
	width: 335px;
}
.dl340, .dr340
{
	width: 340px;
}
.dl345, .dr345
{
	width: 345px;
}
.dl350, .dr350
{
	width: 350px;
}
.dl355, .dr355
{
	width: 355px;
}
.dl360, .dr360
{
	width: 360px;
}
.dl365, .dr365
{
	width: 365px;
}
.dl370, .dr370
{
	width: 370px;
}
.dl375, .dr375
{
	width: 375px;
}
.dl380, .dr380
{
	width: 380px;
}
.dl385, .dr385
{
	width: 385px;
}
.dl390, .dr390
{
	width: 390px;
}
.dl395, .dr395
{
	width: 395px;
}
.dl400, .dr400
{
	width: 400px;
}
.dl405, .dr405
{
	width: 405px;
}
.dl410, .dr410
{
	width: 410px;
}
.dl415, .dr415
{
	width: 415px;
}
.dl420, .dr420
{
	width: 420px;
}
.dl425, .dr425
{
	width: 425px;
}
.dl430, .dr430
{
	width: 430px;
}
.dl435, .dr435
{
	width: 435px;
}
.dl440, .dr440
{
	width: 440px;
}
.dl445, .dr445
{
	width: 445px;
}
.dl450, .dr450
{
	width: 450px;
}
.dl455, .dr455
{
	width: 455px;
}
.dl460, .dr460
{
	width: 460px;
}
.dl465, .dr465
{
	width: 465px;
}
.dl470, .dr470
{
	width: 470px;
}
.dl475, .dr475
{
	width: 475px;
}
.dl480, .dr480
{
	width: 480px;
}
.dl485, .dr485
{
	width: 485px;
}
.dl490, .dr490
{
	width: 490px;
}
.dl495, .dr495
{
	width: 495px;
}
.dl500, .dr500
{
	width: 500px;
}
.dl505, .dr505
{
	width: 505px;
}
.dl510, .dr510
{
	width: 510px;
}
.dl515, .dr515
{
	width: 515px;
}
.dl520, .dr520
{
	width: 520px;
}
.dl525, .dr525
{
	width: 525px;
}
.dl530, .dr530
{
	width: 530px;
}
.dl535, .dr535
{
	width: 535px;
}
.dl540, .dr540
{
	width: 540px;
}
.dl545, .dr545
{
	width: 545px;
}
.dl550, .dr550
{
	width: 550px;
}
.dl555, .dr555
{
	width: 555px;
}
.dl560, .dr560
{
	width: 560px;
}
.dl565, .dr565
{
	width: 565px;
}
.dl570, .dr570
{
	width: 570px;
}
.dl575, .dr575
{
	width: 575px;
}
.dl580, .dr580
{
	width: 580px;
}
.dl585, .dr585
{
	width: 585px;
}
.dl590, .dr590
{
	width: 590px;
}
.dl595, .dr595
{
	width: 595px;
}
.dl600, .dr600
{
	width: 600px;
}
.dl605, .dr605
{
	width: 605px;
}
.dl610, .dr610
{
	width: 610px;
}
.dl615, .dr615
{
	width: 615px;
}
.dl620, .dr620
{
	width: 620px;
}
.dl625, .dr625
{
	width: 625px;
}
.dl630, .dr630
{
	width: 630px;
}
.dl635, .dr635
{
	width: 635px;
}
.dl640, .dr640
{
	width: 640px;
}
.dl645, .dr645
{
	width: 645px;
}
.dl650, .dr650
{
	width: 650px;
}
.dl655, .dr655
{
	width: 655px;
}
.dl660, .dr660
{
	width: 660px;
}
.dl665, .dr665
{
	width: 665px;
}
.dl670, .dr670
{
	width: 670px;
}
.dl675, .dr675
{
	width: 675px;
}
.dl680, .dr680
{
	width: 680px;
}
.dl685, .dr685
{
	width: 685px;
}
.dl690, .dr690
{
	width: 690px;
}
.dl695, .dr695
{
	width: 695px;
}
.dl700, .dr700
{
	width: 700px;
}
.dl705, .dr705
{
	width: 705px;
}
.dl710, .dr710
{
	width: 710px;
}
.dl715, .dr715
{
	width: 715px;
}
.dl720, .dr720
{
	width: 720px;
}
.dl725, .dr725
{
	width: 725px;
}
.dl730, .dr730
{
	width: 730px;
}
.dl735, .dr735
{
	width: 735px;
}
.dl740, .dr740
{
	width: 740px;
}
.dl745, .dr745
{
	width: 745px;
}
.dl750, .dr750
{
	width: 750px;
}
.dl755, .dr755
{
	width: 755px;
}
.dl760, .dr760
{
	width: 760px;
}
.dl765, .dr765
{
	width: 765px;
}
.dl770, .dr770
{
	width: 770px;
}
.dl775, .dr775
{
	width: 775px;
}
.dl780, .dr780
{
	width: 780px;
}
.dl785, .dr785
{
	width: 785px;
}
.dl790, .dr790
{
	width: 790px;
}
.dl795, .dr795
{
	width: 795px;
}
.dl800, .dr800
{
	width: 800px;
}
.dl805, .dr805
{
	width: 805px;
}
.dl810, .dr810
{
	width: 810px;
}
.dl815, .dr815
{
	width: 815px;
}
.dl820, .dr820
{
	width: 820px;
}
.dl825, .dr825
{
	width: 825px;
}
.dl830, .dr830
{
	width: 830px;
}
.dl835, .dr835
{
	width: 835px;
}
.dl840, .dr840
{
	width: 840px;
}
.dl845, .dr845
{
	width: 845px;
}
.dl850, .dr850
{
	width: 850px;
}
.dl855, .dr855
{
	width: 855px;
}
.dl860, .dr860
{
	width: 860px;
}
.dl865, .dr865
{
	width: 865px;
}
.dl870, .dr870
{
	width: 870px;
}
.dl875, .dr875
{
	width: 875px;
}
.dl880, .dr880
{
	width: 880px;
}
.dl885, .dr885
{
	width: 885px;
}
.dl890, .dr890
{
	width: 890px;
}
.dl895, .dr895
{
	width: 895px;
}
.dl900, .dr900
{
	width: 900px;
}
.dl905, .dr905
{
	width: 905px;
}
.dl910, .dr910
{
	width: 910px;
}
.dl920, .dr920
{
	width: 920px;
}
.dl930, .dr930
{
	width: 930px;
}
.dl940, .dr940
{
	width: 940px;
}
.dl950, .dr950
{
	width: 950px;
}

.ml1
{
	margin-left: 1px;
}
.ml5
{
	margin-left: 5px;
}
.ml10
{
	margin-left: 10px;
}
.ml15
{
	margin-left: 15px;
}
.ml20
{
	margin-left: 20px;
}
.ml25
{
	margin-left: 25px;
}
.ml30
{
	margin-left: 30px;
}
.ml35
{
	margin-left: 35px;
}
.ml40
{
	margin-left: 40px;
}
.ml45
{
	margin-left: 45px;
}
.ml50
{
	margin-left: 50px;
}
.ml55
{
	margin-left: 55px;
}
.ml60
{
	margin-left: 60px;
}
.ml65
{
	margin-left: 65px;
}
.ml70
{
	margin-left: 70px;
}
.ml75
{
	margin-left: 75px;
}

.mr1
{
	margin-right: 1px;
}
.mr5
{
	margin-right: 5px;
}
.mr10
{
	margin-right: 10px;
}
.mr15
{
	margin-right: 15px;
}
.mr20
{
	margin-right: 20px;
}
.mr25
{
	margin-right: 25px;
}
.mr30
{
	margin-right: 30px;
}
.mr35
{
	margin-right: 35px;
}
.mr40
{
	margin-right: 40px;
}
.mr45
{
	margin-right: 45px;
}
.mr50
{
	margin-right: 50px;
}
.mr55
{
	margin-right: 55px;
}
.mr60
{
	margin-right: 60px;
}
.mr65
{
	margin-right: 65px;
}
.mr70
{
	margin-right: 70px;
}
.mr75
{
	margin-right: 75px;
}

.mt1
{
	margin-top: 1px;
}
.mt5
{
	margin-top: 5px;
}
.mt10
{
	margin-top: 10px;
}
.mt20
{
	margin-top: 20px;
}
.mt30
{
	margin-top: 30px;
}
.mt40
{
	margin-top: 40px;
}
.mt50
{
	margin-top: 50px;
}

.clear
{
	clear: both;
}

.clearfix, .main
{
	display: block;
}

/* IE5/MAC hack \*/
* html .clearfix
{
	display: inline;
	height: 1px;
}




