/*-------------------------------------
              body
-------------------------------------*/

body{background:url(../img/bg.gif);}

/*-------------------------------------
              画布
-------------------------------------*/
.ui_layout{}


/*------------------------------------
               浮动和内容区域
-------------------------------------*/
.ui_contentarea{background:#FFFFFF;}
.ui_floatarea{background:#FFFFFF;}

/*content*/
.ui_content{}


/*------------------------------------
                col
-------------------------------------*/
.ui_col{}
.ui_sub_col{}


/*------------------------------------
                模块
-------------------------------------*/
/*工作区*/
.ui_mwork{}

/*普通模块*/
.ui_mnormal{}
.ui_mnormal_title{}
.ui_mnormal_body{}
.ui_mnormal_foot{}
.ui_mnormal_subtitle{font-size:13px;margin-left:40px;font-weight:700;height:15px;line-height:15px;padding-top:8px;}
/*Tab模块*/
.ui_mtab{}
.ui_mtab_title{}
.ui_mtab_body{}
.ui_mtab_foot{}

/*Flash模块*/
.ui_mflash{}
.ui_mflash_title{}
.ui_mflash_body{}
.ui_mflash_foot{}

/*视频模块*/
.ui_mvideo{}
.ui_mvideo_title{}
.ui_mvideo_body{}
.ui_mvideo_foot{}

/*图片播放器模块*/
.ui_mphoto{}
.ui_mphoto_title{}
.ui_mphoto_body{}
.ui_mphoto_foot{}

/*登录模块*/
.ui_mlogin{}
.ui_mlogin_title{}
.ui_mlogin_body{}
.ui_mlogin_foot{}

/*搜索模块*/
.ui_msearch{}
.ui_msearch_title{}
.ui_msearch_body{}
.ui_msearch_foot{}

/*Tip模块*/
.ui_mtip{}
.ui_mtip_title{}
.ui_mtip_body{}
.ui_mtip_foot{}

/*对话框*/
.ui_mdialog{}
.ui_mdialog_title{}
.ui_mdialog_body{}
.ui_mdialog_foot{}

/*翻页模块*/
.ui_mpage{}
.ui_mpage_title{}
.ui_mpage_body{}
.ui_mpage_foot{}




