.bg_layout{background:#0A3176;}
.bg_header{background:#47C6C4;}
.bd_title{border:solid 1px #128232;}
.bg_bd_nav{border:solid 1px #138132;background:#07CAAC;}
.bg_nav{background:#7CEAD3;}
.bg_spaceop{background:#2C87C9;}
.mode_box{border:solid 1px #97D0EE;background:#5190DE;}
.mode_title{background:url(/theme/blue/img/mode_title2.gif) repeat-x left top;border-bottom:solid 1px #674E0C;}