.bg_layout{background:#FFFEFF url(/tempimg/content2.jpg);}
.bg_spaceop{background:#910E5D;}
.mode_box{border:solid 1px #EEDBE6;background:#FFFEFF;}
.mode_title{background:url(/theme/lightpink/img/lightpinktitle.jpg) repeat-x left top;border-bottom:solid 1px #F2E4EC;}
.pic_act .pro_show a:hover img{background:#FDFBFE;border:solid 1px #F3D8DF;}
/*.bg_header{background:#FEFBF4;}
.bd_title{border:solid 1px #F8D791;}
.bg_bd_nav{border:solid 1px #BFF59A;background:#BFF59A;}
.bg_nav{background:#ECFCE0;}*/