.bg_layout{background:#CCCCCC;}
.bg_header{background:#FF94B4;}
.bd_title{border:solid 1px #D15A80;}
.bg_bd_nav{border:solid 1px #ED1200;background:#FFC8D7;}
.bg_nav{background:#FFEDF2;}
.bg_spaceop{background:#F55E8C;}
.mode_box{border:solid 1px #ED1200;background:white;}
.mode_title{background:url(/theme/pink/img/mode_title1.gif) repeat-x left top;border-bottom:solid 1px #FFCFDE;}