.bg_layout{background:#F7FADB;}
.bg_header{background:#C7ED56;}
.bd_title{border:solid 1px #BBE730;}
.bg_bd_nav{border:solid 1px #BFF59A;background:#BFF59A;}
.bg_nav{background:#ECFCE0;}
.bg_spaceop{background:#396506;}
.mode_box{border:solid 1px #C3E96E;background:#FFFCC9;}
.mode_title{background:url(../img/mode_title3.gif) repeat-x left top;border-bottom:solid 1px #674E0C;}