.bg_layout{background:#FFFFFF;}
.bg_spaceop{background:#5156B0;}
.mode_box{border:solid 1px #ACABDA;background:#FFFFFF;}
.mode_title{background:url(/theme/purple/img/purpletitle.jpg) repeat-x left top;border-bottom:solid 1px #E4DEF5;}
.pic_act .pro_show a:hover img{background:#F6F7FB;border:solid 1px #DEDEEF;}

/*.bg_header{background:#FEFBF4;}
.bd_title{border:solid 1px #F8D791;}
.bg_bd_nav{border:solid 1px #BFF59A;background:#BFF59A;}
.bg_nav{background:#ECFCE0;}*/