.bg_layout{background:#FDFBF0;}
.bg_spaceop{background:#F87209;}
.mode_box{border:solid 1px #FFE9AF;background:#FFFCF5;}
.mode_title{background:url(/theme/orange/img/orangetitle.jpg) repeat-x left top;border-bottom:solid 1px #F8D791;}
.pic_act .pro_show a:hover img{background:#FFFCF5;border:solid 1px #FFE9AF;}
/*.bg_header{background:#FEFBF4;}
.bd_title{border:solid 1px #F8D791;}
.bg_bd_nav{border:solid 1px #BFF59A;background:#BFF59A;}
.bg_nav{background:#ECFCE0;}*/